@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One');

body{
	text-align: center;
	background-color:#f7d791;
}

#footer{
	text-align: center;
	padding-top:10px;
}

#main{
	margin-top: 200px;
}

.well{
	margin:auto;
	width:50%;
}

#quote {
	padding-top: 30px;
	font-family: 'Poiret One', cursive;
	font-size: 25px;	
	font-weight: bold;
	-webkit-transition:-webkit-transform 50s;	
}

#sample{
	transition:transform 2s;
	-webkit-transition:-webkit-transform 50s;
}

#author {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;
}
 
.actions {
	padding:50px;
}

.fa-cog{
	color:#96ad01;
	
}

i:hover{
	opacity: 0.8;
}

#clickableAwesomeFont {
    cursor: pointer
}

