@import url('https://fonts.googleapis.com/css?family=Scope+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400i|Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Bangers');

.main {
	font-family: 'Bangers', cursive;
	font-size: 30px;
}

.desc {
	font-family: 'Lato',sans-serif;
}

.title {
	font-family: 'Roboto', sans-serif;
}

a{
	color: white;
}

p {
	padding:10px;
}

body{ 
	font-family: 'Scope One', serif;
	margin: auto; 
	background-color: #3866d1;
	color:white;
} 

#inputgroup{
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	margin:auto;
	width:200px;
	padding-bottom:15px;
}

.fa-search{
	padding-bottom:15px;
}

.list-group-item:hover{
	border-left-color:#ff9933;
	border-left-style: solid;
	border-left-width: 5px;
}

.list-group-item{
	margin-bottom: 10px;
}

.topspace{
	padding:300px;
}

.spacebetween{
	padding:20px;
}

.center {    
    text-align: center;
	margin: auto;
}
 

