@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One');

body {
	padding:100px;
	text-align: center; 
	padding-top: 30px;
	font-family: 'Poiret One', cursive;
	font-size: 30px;	
}

.data{
	padding:100px;
	text-align:center;
}

.center {
    margin: auto; 
}

.panel{
	width:500px;
	margin:auto;
}