@import url('https://fonts.googleapis.com/css?family=Rubik+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: 'Raleway',sans-serif;

}

h1 {
	font-family: 'Rubik One', sans-serif; 
	font-size: 30px;
	text-align: center;
} 

h2 {
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

#img-caption {
	text-align: center;
}

#img-div {
	border: 10 10 10 10
	text-align: center;
	background-color: white;
}

#main{
	background-color:#f7d791;
}

main {
	padding-left: 20px;
	padding-right: 20px;
}

.container{
	margin-top:70px;
}

.quote {
	font-style:italic;
}

.author {
	color:#917557;
	text-align:left;
}


 
