@import url('https://fonts.googleapis.com/css?family=Rubik+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: 'Raleway',sans-serif;
}

h1{
	font-family: 'Rubik One', sans-serif; 
	font-size: 50px;
	text-align: center;
}

h2{
	text-align:center;
}

p{
	text-align: center;
}

#main{
	background-color:#f7d791;
}

.container{
	margin-top:70px;
}

.quote {
	font-style:italic;
}

.author {
	color:#917557;
	text-align:left;
}


 
